/* font icon style */
.icon-doctor {
  width: 50px;
  height: 50px;
  background: #468f46;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: white;
}
.icon-doctor:hover {
  background: white;
  color: #468f46;
  cursor: pointer;
}
